[submodule "Tayo/vendor/spdlog"]
	path = Tayo/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Tayo/vendor/GLFW"]
	path = Tayo/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Tayo/vendor/imgui"]
	path = Tayo/vendor/imgui
	url = https://github.com/JJJJJJJustin/imgui
